## EBB36
[mcu ebb36]
# run the following command to locate the uuid >   ~/klippy-env/bin/python ~/klipper/scripts/canbus_query.py can0
canbus_interface: can0
canbus_uuid: 32711ea57232 

## Temperature sensors
# ebb36
[temperature_sensor ebb36]
sensor_type: temperature_mcu
sensor_mcu: ebb36

# extruder_stepper
[temperature_sensor extruder_stepper]
sensor_pin: ebb36:PA0
pullup_resistor: 2200

## Fans
# Hotend
[heater_fan tool0_hotend_fan]
pin: ebb36:PD2  # FAN2
tachometer_pin: ^ebb36:PA4  # FAN2_DET

# Part cooling
[fan]
pin: ebb36:PA5  # FAN1

## Extruder
[extruder]
step_pin: ebb36:PB14
dir_pin: ebb36:PA8
enable_pin: !ebb36:PB6
heater_pin: ebb36:PB4
pullup_resistor: 2200
sensor_pin: ebb36:PA3

[tmc2209 extruder]
uart_pin: ebb36:PB3

## Resonances
[lis2dw ebb36]
cs_pin: ebb36:PB1
spi_bus:spi2_PB2_PB11_PB10
axes_map: x,y,z

[resonance_tester]
accel_chip: lis2dw ebb36

## RGB
[neopixel tool0_leds]
pin: ebb36:PC7

## Probe
[probe]
pin: ^!ebb36:PB8  # PROBE

## Filament sensors
[filament_switch_sensor tool0_end]
switch_pin: ebb36:PA15  # ENDSTOP
