## HOT END FAN
[heater_fan tool0_hotend_fan]
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
tachometer_ppr: 2
tachometer_poll_interval: 0.0009

[temperature_sensor extruder_stepper]
sensor_type: Generic 3950

## PART COOLING
[fan]
kick_start_time: 0.5
off_below: 0.10
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
cycle_time: 0.15

## EXTRUDER 
[extruder]
rotation_distance: 47.088 
gear_ratio: 9:1
max_extrude_only_distance: 1400.0
max_extrude_only_velocity: 75.0
max_extrude_only_accel: 1500
nozzle_diameter: 0.400
filament_diameter: 1.750
sensor_type: ATC Semitec 104NT-4-R025H42G
min_temp: -50
max_temp: 300

## RGB
[neopixel tool0_leds]
chain_count: 10
color_order: GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRB, GRBW, GRBW
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0

[probe]
x_offset: 0.0
y_offset: 0.0
speed: 10
samples: 3
sample_retract_dist: 3.0
samples_result: median
samples_tolerance: 0.006
samples_tolerance_retries: 3
activate_gcode:
    _TAP_ACTIVATE
