#####################################################################
#   Chamber bars Led effects
#####################################################################

[led_effect chamber_rainbow]
leds:
    neopixel:chamber (1-20)
layers:
    gradient 1 1 top (1,0,0),(0,1,0),(0,0,1)

[led_effect chamber_idle]
leds:
    neopixel:chamber (1-20)
layers:
    breathing 10 1 top (.98,1,.27)
frame_rate: 24

[led_effect chamber_static]
leds:
    neopixel:chamber (1-20)
layers:
    static 1 0 top ({params.LEVEL|default(1)|float},{params.LEVEL|default(1)|float},{params.LEVEL|default(1)|float})

#LED EFFECT MACROS
[gcode_macro _CHAMBER_LED_STOP]
gcode:
    STOP_LED_EFFECTS LEDS="neopixel:chamber"

[gcode_macro CHAMBER_LED_RAINBOW]
gcode:
    _CHAMBER_LED_STOP
    SET_LED_EFFECT EFFECT=chamber_rainbow

[gcode_macro CHAMBER_LED_IDLE]
gcode:
    _CHAMBER_LED_STOP
    SET_LED_EFFECT EFFECT=chamber_idle

[gcode_macro CHAMBER_LED_STATIC]
gcode:
    _CHAMBER_LED_STOP
    SET_LED_EFFECT EFFECT=chamber_static LEVEL=80

[gcode_macro CHAMBER_LED_STATIC_TOGGLE]
description: Toggles chamber static LED effect On/Off
gcode:
  {% set VALUE = params.VALUE|default(1.0)|float %}
  {% set LED_NAME = "chamber" %}
  {% set FIRST_LED_COLOR = printer["neopixel " ~ LED_NAME].color_data[0] %}

  {% if FIRST_LED_COLOR[0] > 0 or FIRST_LED_COLOR[1] > 0 or FIRST_LED_COLOR[2] > 0 or FIRST_LED_COLOR[3] > 0 %}
    _CHAMBER_LED_STOP
  {% else %}
    CHAMBER_LED_STATIC
  {% endif %}