#####################################################################
#   Chamber bars Led effects
#####################################################################

[led_effect rainbow]
leds:
    neopixel:chamber (1-20)
layers:
    gradient 1 1 top (1,0,0),(0,1,0),(0,0,1)

[led_effect idle]
leds:
    neopixel:chamber (1-20)
layers:
    breathing 10 1 top (.98,1,.27)
frame_rate: 24

[led_effect static]
leds:
    neopixel:chamber (1-20)
layers:
    static 1 0 top (.5,.5,.5)

#LED EFFECT MACROS
[gcode_macro LED_RAINBOW]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=rainbow

[gcode_macro LED_IDLE]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=idle

[gcode_macro LED_STATIC]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=static
