# Vibration Measumenets by Frix
# https://github.com/Frix-x/klippain/blob/main/docs/features/vibr_measurements.md

[gcode_shell_command plot_graph]
command: bash /home/pi/printer_data/config/scripts/plot_graphs.sh
timeout: 500.0
verbose: True

[gcode_shell_command system_info]
command: python3 /home/pi/printer_data/config/scripts/system_info.py
timeout: 5.0
verbose: True
